@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;600&display=swap');

.header {
  display: flex;
  width: 1399.679px;
  align-items: center;
  gap: 304px;

  }
  
  .header .logo {
    width: 58.359px;
    height: 35.585px;
    flex-shrink: 0;
   
    
  }
  
  .header .menu {
    display: flex;
    padding: 24px 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 39px;
    background: #F9F9F9;
   
  }
  .header .menu a {
    color: #242331;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }
  
  .header .button {
    display: flex;
    padding: 25px 54px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 39px;
    background: #5236FF;
  
  }
  .header .button a {
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  
  .header .baner {
    width: 1920px;
    height: 1552px;
    flex-shrink: 0;
  }
  
  .header .img {
   
  }
  
  .header .menu-button {
    
  }
  
  .header .menu {
    
  }
  
  .header .home-about-features {
    
  }
  
  .header .text-wrapper-2 {
   
  }
  
  .header .text-wrapper-3 {
   
    
  }
  
  
  .header .button {
   

  }
  
  .header .div {
    
  }
  
   