@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
.header {
    display: flex;
    width: 1399.68px;
    align-items: center;
    gap: 304px;
    position: relative;
  }
  
  .header .logo {
    position: relative;
    width: 174.68px;
    height: 41px;
  }
  
  .header .saa-sup {
    align-items: center;
    display: flex  ;
    width: 172.679px;

    flex-shrink: 0;
    padding-right: 300px;
    font-family: 'Nunito', sans-serif;
    width: 108px;
    height: 41px;
    top: 17px;
    left: 64.68px;
    color: rgb(12, 11, 11);
    text-decoration: none;
    font-family: Nunito;
    font-size: 30px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    display: flex  ;

  }
  
  .header .text-wrapper {
    color: #242330;
  }
  
  .header .span {
    color: #242333;
  }
  
  .header .img {
    position: absolute;
    width: 58px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .header .menu-button {
    display: flex;
    width: 923px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 40px;
    position: relative;
  }
  
  .header .menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 52px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -1px;
    background-color: #f9f9f9;
    border-radius: 39px;
  }
  
  .header .home-about-features {
    padding-right: 40px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Nunito-SemiBold", Helvetica;
    font-weight: 400;
    color: #242331;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .header .text-wrapper-2 {
    font-weight: 600;
  }
  
  .header .text-wrapper-3 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
  }
  
  .header .text-wrapper-4 {
    font-family: "FontAwesome-Regular", Helvetica;
  }
  
  .header .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px 54px;
    position: relative;
    flex: 0 0 auto;
    background-color: #5135ff;
    border-radius: 39px;
    all: unset;
    box-sizing: border-box;
  }
  
  .header .div {
    display: flex;
    padding: 54px  25px  54px 25px ;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 39px;
    background: #5236FF;
    padding: 30px;
    font-family: "Nunito-SemiBold", Helvetica;
  }
  .header .button {
    display: flex;
    padding: 25px 25px 25px 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 39px;
    background: #5236FF;
    padding: 30px;

  }
  .header .text-wrapper-5 {
    font-family: "Poppins-Medium", Helvetica;

  }